<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title></title>
    <link rel='stylesheet' href='/static/css/default.css'/>
</head>
<body>
    <h3>koa ejs base.</h3>
    <%- body %>
</body>
</html>
